@model SportsStore.Domain.Entities.Product

<div class="card">
    <div class="card-body">
        <div class="float-left" style="margin-right: 10px">
            <img class="img-thumbnail" width="150" height="150" src="@Url.Action("GetImage", "Product", new
                                                                       {
                                                                           Model.ProductId
                                                                       })" />
        </div>
        @*}*@
        <h3>
            <strong>@Model.Name</strong>
            <span class="float-right">@Model.Price.ToString("c")</span>
        </h3>
        @if (User.Identity.IsAuthenticated && !User.IsInRole("Blocked Users"))
        {
            using (Html.BeginForm("AddToCart", "Cart"))
            {
                <div class="float-right">
                    @Html.HiddenFor(x => x.ProductId)
                    @if (Request.Url != null)
                    {
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                    }
                    @if (Model.Quantity != 0)
                    {
                        <input type="submit" class="btn btn-sm btn-success" value="Add to cart" />
                    }
                </div>
            }
        }
        <span class="lead">
            @Model.Description
            <br />
            <label>Left in stock:</label> @Model.Quantity
        </span>
    </div>
</div>