@model SportsStore.Domain.Entities.Product

@{
    ViewBag.Title = "Admin: Edit " + @Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3>Edit @Model.Name</h3>
    </div>

    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="card-body">
            @Html.HiddenFor(m => m.ProductId)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                switch (property.PropertyName)
                {
                    case "ProductId":
                    case "ImageData":
                    case "ImageMimeType":
                        break;
                    default:
                        if (property.PropertyName != "ProductId")
                        {
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            <div class="form-group row">
                                @if (property.PropertyName == "Description")
                                {
                                    <p class="col-sm-6">
                                        @Html.TextArea(property.PropertyName, null, new
                                        {
                                            @class = "form-control", rows = 5
                                        })
                                    </p>
                                }
                                else
                                {
                                    <p class="col-sm-6">
                                        @Html.TextBox(property.PropertyName, null, new
                                        {
                                            @class = "form-control"
                                        })
                                    </p>
                                }
                                <p>@Html.ValidationMessage(property.PropertyName)</p>
                            </div>
                        }
                        break;
                }
            }
            <div class="form-group">
                <div style="position: relative;">
                    <label>Image</label>
                    <p ><input type="file" name="image" class="form-control-file"/></p>
                </div>
                @if (Model.ImageData != null)
                {
                    <img class="img-thumbnail" width="150" height="150" src="@Url.Action("GetImage", "Product", new {Model.ProductId})" />
                }
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel and return to list", "Index", null, new
            {
                @class="btn btn-secondary"
            })
        </div>
    }
</div>